In [1]:
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

# 폰트 설정 (Windows용)
plt.rcParams['font.family'] = 'Pretendard'
plt.rcParams['axes.unicode_minus'] = False  # 마이너스(-) 깨짐 방지

In [2]:
import pandas as pd
import sqlalchemy

engine = sqlalchemy.create_engine("mysql+pymysql://root:1234@localhost:3307/olist_dw")

In [3]:
df_rfm = pd.read_sql("SELECT * FROM dm_customer_rfm", engine)
print("✅ RFM 테이블 shape:", df_rfm.shape)
df_rfm.head()

✅ RFM 테이블 shape: (96454, 8)

,customer_unique_id,customer_id,last_purchase_date,recency,frequency,monetary,shipping,customer_state
0,0000366f3b9a7992bf8c76cfdf3221e2,fadbb3709178fc513abc1b2670aa1ad2,2018-05-10 10:56:27,160,1,129.90,12.00,SP
1,0000b849f77a49e4a4ce2b2a4ca5be3f,4cb282e167ae9234755102258dd52ee8,2018-05-07 11:11:27,163,1,18.90,8.29,SP
2,0000f46a3911fa3c0805444483337064,9b3932a6253894a02c1df9d19004239f,2017-03-10 21:05:03,586,1,69.00,17.22,SC
3,0000f6ccb0745a6a4b88665a16c9f078,914991f0c02ef0843c0e7010c819d642,2017-10-12 20:29:41,370,1,25.99,17.63,PA
4,0004aac84e0df4da2b147fca70cf8255,47227568b10f5f58a524a75507e6992c,2017-11-14 19:45:42,337,1,180.00,16.89,SP

In [ ]:
# 5분위 기반 스코어링
df_rfm['R_score'] = pd.qcut(df_rfm['recency'], 5, labels=[5, 4, 3, 2, 1])  # 낮을수록 좋음
df_rfm['F_score'] = pd.qcut(df_rfm['frequency'].rank(method='first'), 5, labels=[1, 2, 3, 4, 5])  # 높을수록 좋음
df_rfm['M_score'] = pd.qcut(df_rfm['monetary'], 5, labels=[1, 2, 3, 4, 5])  # 높을수록 좋음

In [5]:
df_rfm['R_score'] = df_rfm['R_score'].astype(int)
df_rfm['F_score'] = df_rfm['F_score'].astype(int)
df_rfm['M_score'] = df_rfm['M_score'].astype(int)

# 총합 스코어
df_rfm['RFM_total'] = df_rfm[['R_score', 'F_score', 'M_score']].sum(axis=1)

In [6]:
# 가중치 설정
r_weight, f_weight, m_weight = 0.2, 0.3, 0.5

# 가중 스코어 계산
df_rfm['RFM_weighted_score'] = (
    df_rfm['R_score'] * r_weight +
    df_rfm['F_score'] * f_weight +
    df_rfm['M_score'] * m_weight
).round(2)

In [8]:
# 스코어 상위 고객 확인

df_rfm[['customer_id', 'R_score', 'F_score', 'M_score', 'RFM_weighted_score']].sort_values(
    by='RFM_weighted_score', ascending=False
).head(5)

,customer_id,R_score,F_score,M_score,RFM_weighted_score
82555,9920c66af298e7dc6997930aae31f1cd,5,5,5,5.0
85356,61c87a5633bf0012750ebd333e1db8a9,5,5,5,5.0
93372,ce9167d363251ec55e167d15816ea22e,5,5,5,5.0
78418,0cf598c859665ba5b58f27857d26f5e8,5,5,5,5.0
80361,5ef9090e61d2f2d7732af105bc8a6e37,5,5,5,5.0