In [ ]:
import pandas as pd

df = pd.read_csv('../data/olist_order_reviews_dataset.csv')

814

In [3]:
file_path = '../data/olist_geolocation_dataset.csv'

df = pd.read_csv(file_path)
print(df.columns)
print(df.dtypes)

Index(['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng',
       'geolocation_city', 'geolocation_state'],
      dtype='object')
geolocation_zip_code_prefix      int64
geolocation_lat                float64
geolocation_lng                float64
geolocation_city                object
geolocation_state               object
dtype: object

In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [3]:
import pandas as pd

df = pd.read_csv('../data/olist_geolocation_dataset.csv', encoding='utf-8')

In [4]:
print(f"DataFrame Shape: {df.shape}")

DataFrame Shape: (1000163, 5)

In [5]:
df['geolocation_city'].sample(10)

665914           nanuque
124877         sao paulo
480560          itaborai
94766          sao paulo
649461        uberlandia
566135    belo horizonte
813574       porto velho
836605        aquidauana
607705      juiz de fora
893421           maringa
Name: geolocation_city, dtype: object

In [5]:
from sqlalchemy import create_engine
user = 'root'
password = '1234'
host = 'localhost'
port = 3307
database = 'olist_dw'

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

In [ ]:
try:
    df.to_sql(
        name='olist_geolocation_raw',
        con=engine,
        if_exists='replace',
        index=False,
        method='multi',
        chunksize=10000
    )
    print(f"[SUCCESS] olist_geolocation_raw Ï†ÅÏû¨ ÏôÑÎ£å ‚Äî {len(df):,}Í±¥\n")
except Exception as e:
    print(f"[ERROR] Ï†ÅÏû¨ Ïã§Ìå®: {e}")

In [2]:
from sqlalchemy import create_engine, text

engine = create_engine("mysql+pymysql://root:1234@127.0.0.1:3307/olist_dw")

with engine.connect() as conn:
    result = conn.execute(text("SELECT NOW();"))
    print(result.fetchone())

(datetime.datetime(2025, 7, 29, 8, 16, 49),)

In [ ]:
df.head(10000).to_sql(
    name='olist_geolocation_raw',
    con=engine,
    if_exists='replace',
    index=False,
    chunksize=500  # ÎòêÎäî 500
)

10000

In [7]:
df.to_sql(
    name='olist_geolocation_raw',
    con=engine,
    if_exists='replace',
    index=False,
    chunksize=1000
)

1000163

In [1]:
!pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in c:\users\somee\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: pymysql in c:\users\somee\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\somee\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\somee\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [2]:
from sqlalchemy import create_engine, text
import pandas as pd

#Docker MySQL Ïó∞Í≤∞ Ï†ïÎ≥¥
engine = create_engine("mysql+pymysql://root:1234@127.0.0.1:3307/olist_dw")

# Ïó∞Í≤∞ ÌÖåÏä§Ìä∏
with engine.connect() as conn:
    result = conn.execute(text("SELECT VERSION();"))
    print("‚úÖ Ïó∞Í≤∞ ÏÑ±Í≥µ! MySQL Î≤ÑÏ†Ñ:", result.fetchone()[0])

‚úÖ Ïó∞Í≤∞ ÏÑ±Í≥µ! MySQL Î≤ÑÏ†Ñ: 8.0.43

In [5]:
pd.read_sql("SHOW TABLES;", engine)

                       Tables_in_olist_dw
0                    dm_ad_hoc_simulation
1                         dm_category_gmv
2                     dm_cohort_retention
3                  dm_customer_churn_flag
4                   dm_customer_lifecycle
5             dm_customer_recency_segment
6                         dm_customer_rfm
7                        dm_funnel_stages
8                      dm_lead_conversion
9                  dm_product_performance
10                      dm_review_quality
11                       dm_sales_summary
12                  dm_seller_performance
13                     olist_closed_deals
14                 olist_closed_deals_raw
15                        olist_customers
16                    olist_customers_raw
17                      olist_geolocation
18                  olist_geolocation_raw
19        olist_marketing_qualified_leads
20    olist_marketing_qualified_leads_raw
21                      olist_order_items
22                  olist_order_items_raw
23                   olist_order_payments
24               olist_order_payments_raw
25                    olist_order_reviews
26                olist_order_reviews_raw
27                           olist_orders
28                       olist_orders_raw
29                         olist_products
30                     olist_products_raw
31                          olist_sellers
32                      olist_sellers_raw
33      product_category_name_translation
34  product_category_name_translation_raw

In [6]:
pd.read_sql("DESCRIBE olist_orders;", engine)

                           Field  Type Null Key Default Extra
0                       order_id  text  YES        None
1                    customer_id  text  YES        None
2                   order_status  text  YES        None
3       order_purchase_timestamp  text  YES        None
4              order_approved_at  text  YES        None
5   order_delivered_carrier_date  text  YES        None
6  order_delivered_customer_date  text  YES        None
7  order_estimated_delivery_date  text  YES        None

In [7]:
query = """
SELECT TABLE_NAME, COLUMN_NAME, DATA_TYPE, COLUMN_KEY
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_SCHEMA = 'olist_dw';
"""
pd.read_sql(query, engine)

,TABLE_NAME,COLUMN_NAME,DATA_TYPE,COLUMN_KEY
0,dm_ad_hoc_simulation,origin,longtext,
1,dm_ad_hoc_simulation,total_leads,bigint,
2,dm_ad_hoc_simulation,converted_leads,decimal,
3,dm_ad_hoc_simulation,conversion_rate,decimal,
4,dm_category_gmv,category,text,
...,...,...,...,...
190,olist_sellers_raw,seller_state,text,
191,product_category_name_translation,product_category_name,text,
192,product_category_name_translation,product_category_name_english,text,
193,product_category_name_translation_raw,product_category_name,text,
194,product_category_name_translation_raw,product_category_name_english,text,

In [8]:
pd.read_sql("SELECT * FROM dm_customer_lifecycle LIMIT 10;", engine)

,customer_id,first_order_date,last_order_date,total_orders,lifecycle_days,lifecycle_type
0,00012a2ce6f8dcda20d059ce98491703,2017-11-14 16:08:26,2017-11-14 16:08:26,1,0,one-time
1,000161a058600d5901f007fab4c27140,2017-07-16 09:40:32,2017-07-16 09:40:32,1,0,one-time
2,0001fd6190edaaf884bcaf3d49edf079,2017-02-28 11:06:43,2017-02-28 11:06:43,1,0,one-time
3,0002414f95344307404f0ace7a26f1d5,2017-08-16 13:09:20,2017-08-16 13:09:20,1,0,one-time
4,000379cdec625522490c315e70c7a9fb,2018-04-02 13:42:17,2018-04-02 13:42:17,1,0,one-time
5,0004164d20a9e969af783496f3408652,2017-04-12 08:35:12,2017-04-12 08:35:12,1,0,one-time
6,000419c5494106c306a97b5635748086,2018-03-02 17:47:40,2018-03-02 17:47:40,1,0,one-time
7,00046a560d407e99b969756e0b10f282,2017-12-18 11:08:30,2017-12-18 11:08:30,1,0,one-time
8,00050bf6e01e69d5c0fd612f1bcfb69c,2017-09-17 16:04:44,2017-09-17 16:04:44,1,0,one-time
9,000598caf2ef4117407665ac33275130,2018-08-11 12:14:35,2018-08-11 12:14:35,1,0,one-time

In [9]:
pd.read_sql("DESCRIBE dm_customer_lifecycle;", engine)

              Field         Type Null Key Default Extra
0       customer_id         text  YES        None
1  first_order_date         text  YES        None
2   last_order_date         text  YES        None
3      total_orders       bigint   NO           0
4    lifecycle_days          int  YES        None
5    lifecycle_type  varchar(10)   NO

In [10]:
df_mart = pd.read_sql("SELECT * FROM dm_customer_lifecycle;", engine)
df_mart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99098 entries, 0 to 99097
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       99098 non-null  object
 1   first_order_date  99098 non-null  object
 2   last_order_date   99098 non-null  object
 3   total_orders      99098 non-null  int64
 4   lifecycle_days    99098 non-null  int64
 5   lifecycle_type    99098 non-null  object
dtypes: int64(2), object(4)
memory usage: 4.5+ MB

In [13]:
query = text("SHOW TABLES LIKE :pattern")
pd.read_sql(query, engine, params={"pattern": "dm\\_%"})

     Tables_in_olist_dw (dm\_%)
0          dm_ad_hoc_simulation
1               dm_category_gmv
2           dm_cohort_retention
3        dm_customer_churn_flag
4         dm_customer_lifecycle
5   dm_customer_recency_segment
6               dm_customer_rfm
7              dm_funnel_stages
8            dm_lead_conversion
9        dm_product_performance
10            dm_review_quality
11             dm_sales_summary
12        dm_seller_performance

In [3]:
import pandas as pd
from sqlalchemy import create_engine
from graphviz import Digraph

engine = create_engine("mysql+pymysql://root:1234@127.0.0.1:3307/olist_dw")

# FK Í¥ÄÍ≥Ñ Í∞ÄÏ†∏Ïò§Í∏∞
query = """
SELECT 
    TABLE_NAME, 
    COLUMN_NAME, 
    REFERENCED_TABLE_NAME, 
    REFERENCED_COLUMN_NAME
FROM INFORMATION_SCHEMA.KEY_COLUMN_USAGE
WHERE TABLE_SCHEMA = 'olist_dw'
  AND REFERENCED_TABLE_NAME IS NOT NULL;
"""
fk_df = pd.read_sql(query, engine)

# ERD Í∑∏Î¶¨Í∏∞
dot = Digraph()

for table in fk_df['TABLE_NAME'].unique():
    dot.node(table)

for _, row in fk_df.iterrows():
    dot.edge(row['TABLE_NAME'], row['REFERENCED_TABLE_NAME'], label=row['COLUMN_NAME'])

dot.render('olist_erd', format='png', cleanup=True)

'olist_erd.png'

In [4]:
pd.read_sql("""
SELECT 
    TABLE_NAME, 
    COLUMN_NAME, 
    REFERENCED_TABLE_NAME, 
    REFERENCED_COLUMN_NAME
FROM INFORMATION_SCHEMA.KEY_COLUMN_USAGE
WHERE TABLE_SCHEMA = 'olist_dw'
  AND REFERENCED_TABLE_NAME IS NOT NULL;
""", engine)

Empty DataFrame
Columns: [TABLE_NAME, COLUMN_NAME, REFERENCED_TABLE_NAME, REFERENCED_COLUMN_NAME]
Index: []

# ERD (Graphviz)

In [16]:
from graphviz import Digraph

dot = Digraph('ERD', format='png')
dot.attr(rankdir='TB')
dot.attr('edge', fontname='pretendard', fontsize='12')
dot.attr(nodesep='0.7', ranksep='0.7')

# üì¶ ÏÉâÏÉÅ Îß§Ìïë
color_map = {
    'olist_orders': '#E6F0FF',
    'olist_order_items': '#E6F0FF',
    'olist_order_payments': '#E6F0FF',
    'olist_order_reviews': '#E6F0FF',
    
    'olist_customers': '#F0FFF4',
    'olist_geolocation': '#F0FFF4',

    'olist_products': '#FFFBEA',
    'product_category_name_translation': '#FFFBEA',

    'olist_sellers': '#FDE2E2',

    'olist_marketing_qualified_leads': '#F3E8FF',
    'olist_closed_deals': '#F3E8FF'
}

# üîÑ Í¥ÄÍ≥Ñ Ï†ïÏùò
relations = [
    ("olist_orders", "olist_customers", "customer_id"),
    ("olist_orders", "olist_order_items", "order_id"),
    ("olist_order_items", "olist_products", "product_id"),
    ("olist_order_items", "olist_sellers", "seller_id"),
    ("olist_order_payments", "olist_orders", "order_id"),
    ("olist_order_reviews", "olist_orders", "order_id"),
    ("olist_products", "product_category_name_translation", "product_category_name"),
    ("olist_closed_deals", "olist_marketing_qualified_leads", "mql_id"),
    ("olist_closed_deals", "olist_sellers", "seller_id"),
    ("olist_customers", "olist_geolocation", "customer_zip_code_prefix"),
    ("olist_sellers", "olist_geolocation", "seller_zip_code_prefix")
]

# üé® ÎÖ∏Îìú ÏÉùÏÑ± + ÏÉâÏÉÅ Î∂ÑÍ∏∞
nodes_added = set()
for t1, t2, label in relations:
    for table in [t1, t2]:
        if table not in nodes_added:
            dot.node(table, style='filled', fillcolor=color_map.get(table, "#FFFFFF"), fontname='ÎßëÏùÄ Í≥†Îîï', fontsize='10')
            nodes_added.add(table)
    dot.edge(t1, t2, label=label)

# Ï∂úÎ†•
dot.render('olist_erd_colored', format='png', cleanup=True, quiet=True)

'olist_erd_colored.png'

### DataMart Extension

In [ ]:
from graphviz import Digraph

dot = Digraph('ERD', format='png')
dot.attr(rankdir='TB')
dot.attr('edge', fontname='ÎßëÏùÄ Í≥†Îîï', fontsize='9')
dot.attr('node', fontname='ÎßëÏùÄ Í≥†Îîï', fontsize='10', style='filled')
dot.attr(nodesep='0.7', ranksep='0.7')

# üìå ÏÉâÏÉÅ Îßµ
color_map = {
    # ÏõêÎ≥∏ ÌÖåÏù¥Î∏îÎì§
    'olist_orders': '#E6F0FF',
    'olist_order_items': '#E6F0FF',
    'olist_order_payments': '#E6F0FF',
    'olist_order_reviews': '#E6F0FF',
    'olist_customers': '#F0FFF4',
    'olist_geolocation': '#F0FFF4',
    'olist_products': '#FFFBEA',
    'product_category_name_translation': '#FFFBEA',
    'olist_sellers': '#FDE2E2',
    'olist_closed_deals': '#F3E8FF',
    'olist_marketing_qualified_leads': '#F3E8FF',
}

# üî∑ ÎßàÌä∏ ÌÖåÏù¥Î∏î ÏÉâÏÉÅ 
dm_color = '#DCEEF9'

# üìå Í¥ÄÍ≥Ñ Ï†ïÏùò (ÏõêÎ≥∏ Ï§ëÏã¨)
relations = [
    ("olist_orders", "olist_customers", "customer_id"),
    ("olist_orders", "olist_order_items", "order_id"),
    ("olist_order_items", "olist_products", "product_id"),
    ("olist_order_items", "olist_sellers", "seller_id"),
    ("olist_order_payments", "olist_orders", "order_id"),
    ("olist_order_reviews", "olist_orders", "order_id"),
    ("olist_products", "product_category_name_translation", "product_category_name"),
    ("olist_closed_deals", "olist_marketing_qualified_leads", "mql_id"),
    ("olist_closed_deals", "olist_sellers", "seller_id"),
    ("olist_customers", "olist_geolocation", "customer_zip_code_prefix"),
    ("olist_sellers", "olist_geolocation", "seller_zip_code_prefix"),
]

# üìå Î∂ÑÏÑù ÎßàÌä∏ Ïó∞Í≤∞
dm_nodes = {
    'dm_sales_summary': 'olist_orders',
    'dm_product_performance': 'olist_products',
    'dm_category_gmv': 'product_category_name_translation',
    'dm_seller_performance': 'olist_sellers',
    'dm_review_quality': 'olist_order_reviews',
    'dm_customer_rfm': 'olist_orders',
    'dm_customer_lifecycle': 'olist_orders',
    'dm_customer_churn_flag': 'olist_orders',
    'dm_customer_recency_segment': 'olist_orders',
    'dm_lead_conversion': 'olist_marketing_qualified_leads',
    'dm_funnel_stages': 'olist_marketing_qualified_leads',
    'dm_cohort_retention': 'olist_orders',
    'dm_ad_hoc_simulation': 'olist_marketing_qualified_leads'
}

# ‚úÖ ÎÖ∏Îìú Ï∂îÍ∞Ä (Ï§ëÎ≥µ ÏóÜÏù¥)
all_nodes = set()
for t1, t2, _ in relations:
    all_nodes.update([t1, t2])
all_nodes.update(dm_nodes.keys())

for node in all_nodes:
    fill = color_map.get(node, dm_color if node.startswith('dm_') else '#FFFFFF')
    dot.node(node, fillcolor=fill)

# ‚úÖ Ï§ëÎ≥µ ÏóÜÎäî edge Ï∂îÍ∞Ä
added_edges = set()
for t1, t2, label in relations:
    edge_key = (t1, t2)
    if edge_key not in added_edges:
        dot.edge(t1, t2, label=label)
        added_edges.add(edge_key)

for dm_table, origin_table in dm_nodes.items():
    edge_key = (origin_table, dm_table)
    if edge_key not in added_edges:
        dot.edge(origin_table, dm_table, label='‚Üí ÎßàÌä∏')
        added_edges.add(edge_key)

# ‚úÖ Ï∂úÎ†•
dot.render('olist_erd_final', format='png', cleanup=True, quiet=True)

'olist_erd_final.png'